<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">

        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-blue-500">Pet's Information</h2>

        <div>
            {{!-- reserved fro picture --}}
            <p>Name: {{name}}</p>
            <p>Animal: {{animal_type}}</p>
            <p>Gender: {{gender}}</p>
            {{!-- <p>Birthday: {{record.birth_date}}</p>
            <p>Weight (lbs): {{record.weight}}</p>
            <p>Vaccinations: {{record.vaccinations}}</p>
            <p>Neutered/Spayed: {{record.sterilized}}</p> --}}

            <p>
                {{#if breed}}
                <p>Breed: {{breed}}<p>
                {{/if}}
                {{#if chip_number}}
                <p>Chip #: {{chip_number}}<p>
                {{/if}}
            </p>

        </div>



        {{!-- <div class="col-md-4">
        <button id="update-pet-btn" class="border-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600" data-id="{{pet.id}}">
          <a href="/pet/edit/{{id}}">UPDATE PET</a>
        </button> --}}

        
                
        </section>
    </div>

