<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">

    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-blue-500">Pet's Parent's Information</h2>

    <div>
      <p>Name: {{name}}</p>
      <p>Parent's email: {{email}}</p>
      <p>Phone #: {{phone_number}}</p>
    </div>
    <button id="update-pet-btn" class="btn btn-sm btn-danger" data-id="{{id}}">
      <a href="/user/edit/{{id}}">UPDATE PROFILE</a>
    </button>

    {{#each pets as |pet|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/pet/{{pet.id}}">{{pet.name}}</a></h4>
      </div>
      {{!-- <div>
        this is reserved for the image that needs to be rendered
      </div> --}}
      <div class="col-md-4">
        <button id="update-pet-btn" class="btn btn-sm btn-danger" data-id="{{pet.id}}">
          <a href="/pet/{{pet.id}}">UPDATE PET</a>
        </button>
        <button id="delete-pet-btn" class="btn btn-sm btn-danger" data-id="{{pet.id}}">
          <a href="/pet/{{pet.id}}">DELETE</a>
        </button>
      </div>
    </div>
    {{/each}}

    <button id="delete-pet-btn" class="btn btn-sm btn-danger" data-id="{{pet.id}}">
      <a href="/pet/{{pet.id}}">ADD PET</a>
    </button>


    <script src="./js/profile.js"></script>