<title>DASHBOARD</title>

<div class="row">
  <div class="text-center pt-5">
    <h2 class="text-3xl font-semibold whitespace-nowrap text-blue-500">Welcome, {{name}}!</h2>
  </div>
</div>

<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">

    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-blue-500">Pet's Parent's Information</h2>

    <div>
      <p>Name: {{name}}</p>
      <p>Email: {{email}}</p>
    </div>
    <button id="update-pet-btn" class="border-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600" data-id="{{id}}">
      <a href="/user/edit/{{id}}">UPDATE PROFILE</a>
    </button>

    {{#each pets as |pet|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/pet/{{pet.id}}">{{pet.name}}</a></h4>
      </div>
      {{!-- <div>
        this is reserved for the image that needs to be rendered
      </div> --}}
      <div class="col-md-4">
        <button id="update-pet-btn" class="border-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600" data-id="{{pet.id}}">
          <a href="/pet/{{pet.id}}">UPDATE PET</a>
        </button>
        <button id="delete-pet-btn" class="border-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600" data-id="{{pet.id}}">
          DELETE
        </button>
      </div>
    </div>
    {{/each}}

    <section>
      <button id="add-pet-btn" class="border-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600" data-id="{{pet.id}}">
        ADD PET
      </button>

      <div class="invisible" id="addPetForm">
        <div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
          <div class="w-full max-w-md space-y-8">



            <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-blue-500">Pet's Information</h2>

            <div>
              <form class="mt-4" action="/upload" method="POST" enctype="multipart/form-data">
                <br>
                <label for="Pet Name" class="sr-only">Pet Name</label>
                <input id="name" name="Pet Name" type="text" autocomplete="Pet Name" required
                  class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                  placeholder="Pet Name">
            </div>
            <br>
            <div>
              <label for="animal_type">Species</label>
              <select name="animal_type" id="animal_type" class="inline-block w-full leading-5 relative py-3 pl-3 pr-8 rounded text-gray-900 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 select-caret appearance-none">
              <option selected>--Select</option>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="bird">Bird</option>
              <option value="reptile">Reptile</option>
              <option value="amphibian">Amphibian</option>
              <option value="bug">Insect/Arachnid</option>
              <option value="other">Other</option>
              </select>
            </div>
            <br>
            <div>
              <label for="gender">Gender</label>
              <select name="gender" id="gender" class="inline-block w-full leading-5 relative py-3 pl-3 pr-8 rounded text-gray-900 bg-white border border-gray-300 overflow-x-auto focus:outline-none focus:border-gray-400 focus:ring-0 select-caret appearance-none">
              <option selected>--Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              </select>
            </div>
            <br>

            <div class="form-group">
              <input type="file" name="file" id="input-files" class="form-control-file border" />
            </div>
            <br>
            <div class=" text-lg text-center">
              {{!-- <a href="#"
                class=" border-2 rounded  border-neutral-400 bg-blue-400  font-medium text-neutral-700 hover:text-indigo-600">Submit</a> --}}
              <button type="submit" class="border-2 rounded  border-neutral-400 bg-blue-400  font-medium text-neutral-700 hover:text-indigo-600">Submit</button>
              </form>
              <br>
            </div>
    </section>
  </div>



  <script src="./js/profile.js"></script>