
<h3 class=" text-center pt-5 text-3xl font-semibold whitespace-nowrap text-blue-500">Update Your Pet!!</h3>
<section class="w-3/6 m-auto space-y-8">
<form class="p-2">
    <label for="pet-name">Name:</label>
    <input id="updated-name" name="pet-name" value="{{name}}" type="pet-name" 
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

    <label for="animal-type">Animal:</label>
    <input id="updated-animal" name="animal type" type="animal-type" value="{{animal_type}}" 
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

    <label for="gender">Gender:</label>
    <input id="updated-gender" name="gender" value="{{gender}}" type="gender" 
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

    {{!-- <label for="birthday">Birthday:</label>
    <input id="updated-birthday" name="birthday" value="{{birth_date}}" type="birthday" 
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

    <label for="weight">weight:</label>
    <input id="updated-wight" name="weight" value="{{weight}}" type="gender" 
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">

    <label for="vaccinations">Vaccinations:</label>
    <input id="updated-vacs" name="vaccinations" value="{{vaccinations}}" type="vaccinations" 
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
    
    <label for="sterilized">Neutered/Sprayed:</label>
    <input id="updated-sterilized" name="sterilized" value="{{sterilized}}" type="sterilized" 
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"> --}}
    

      <label for="breed">Breed:</label>
    <input id="updated-breed" name="breed" value="{{breed}}" type="breed" 
        class="relative block w-full appearance-none rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
   
    <button id="update-pet-btn" data-id="{{id}}">
        <div class="text-lg p-2" >
            <a href="#"
                class="border-2 rounded  border-neutral-400  bg-blue-400 font-medium text-neutral-700 hover:text-indigo-600">UPDATE PET
            </a>
        </div>
    </button>
</form>
</section>

<script src="/js/petUpdate.js"></script>